#screen {
    background-color: var(--blue-06);
    background-image: url('../img/wallpaper/wallpaper_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - var(--taskBar-height));
}