:root {
    --border-blue-0: #416dba;
    --border-blue-1: #38517d;
    --border-blue-2: #13346d;

    --dark-gray-0: #1c1d26;
    --dark-gray-1: #1d1e2e;

    --dark-gray-0-hover: #2f3253;

    --light-gray-0: #aba485;

    --menu-bar-height: 2rem;
}

.appInstanceWindow {
    min-width: min(50vh, 50vw);
    min-height: calc(.8 * min(50vh, 50vw));
    aspect-ratio: 1.25;
    border: 2px solid var(--border-blue-0);
    border-top: none;
    position: absolute;
    resize: both;
    overflow: hidden;
}

.appInstanceWindow[class*="active"] {
    border: 2px solid var(--border-blue-1);
    border-top: none;
}

.appMenuBar {
    background-color: var(--border-blue-0);
    width: 100%;
    height: var(--menu-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appInstanceWindow[class*="active"] .appMenuBar {
    background-color: var(--border-blue-1);
}

.appMenuBar p {
    margin: 0;
    height: 100%;
    width: fit-content;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appMenuBar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appMenuBarIcon {
    height: 100%;
    margin: 5px;
    aspect-ratio: 1;
}

.appMenuBarIcon svg {
    height: 100%;
    width: 100%;
}

.appMenuBar div>div {
    height: var(--menu-bar-height);
    width: var(--menu-bar-height);
    cursor: pointer;
}

.appMenuBar div>div:hover {
    background-color: var(--border-blue-2);
}

.appContent {
    /* TODO */
    /* background-color: var(--dark-gray-0); */
    width: 100%;
    height: calc(100% - var(--menu-bar-height));
}

.appContent iframe {
    width: 100%;
    height: 100%;
}

.appContent iframe.inactiveFrame {
    pointer-events: none
}