:root {
    --taskBar-height: 3rem;
}

#taskBar {
    background-color: var(--dark-gray-0);
    width: 100vw;
    height: var(--taskBar-height);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 9999;
}

#taskBar>div {
    height: 60%;
    padding: .25rem;
    aspect-ratio: 1;
    margin: 0 .5rem;
    cursor: pointer;

    transition: all .1s ease-out;
}

#taskBar>div:hover {
    background-color: var(--dark-gray-0-hover);
    border-radius: 5px;
}

#taskBar svg {
    width: 100%;
    height: 100%;
}

#taskBar svg path,
#taskBar svg circle {
    fill: white;
}