:root {
    --windowIcon_width: 5rem;
    --windowIcon_height: calc(1.2 * var(--windowIcon_width));
}

.windowIcon {
    padding: .5rem;
    border-radius: 5px;
    width: var(--windowIcon_width);
    height: var(--windowIcon_height);
    display: inline-block;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    transition: background-color .25s ease-out, outline .25s ease-out;
}

.windowIcon:hover {
    background-color: rgba(255, 255, 255, .25);
}

.windowIcon:active {
    background-color: rgba(255, 255, 255, 0);
    outline: 1px solid white;
}

.windowIcon img,
.windowIcon svg {
    width: var(--windowIcon_width);
    height: var(--windowIcon_width);
    scale: 1;
}

.windowIcon p {
    width: var(--windowIcon_width);
    height: var(--windowIcon_height) - var(--windowIcon_width);
    margin: 0;
    color: white;
    text-align: center;
    font-family: monospace;
}