:root {
    --dark-gray-0: #191b30;
    --dark-gray-1: #1d1e2e;
    
    --dark-gray-0-hover: #2f3253;

    --light-gray-0:#aba485;
    
    --taskBar-height: 3rem;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}